<% content_for :title, "#{@team.name} - Members" %>
<%= render 'actions', team: @team %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @team.users.
              order("users.name asc").each do |user| %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.role&.name %></td>
                <td><%= link_to user.email %></td>
                <td><%= link_to 'Show', user  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
