<% content_for :title, "Team - #{@team.name}" %>
<% content_for :actions,
  link_to('Edit', edit_team_path(@team), class: 'btn btn-sm btn-outline-primary').concat(
    link_to('Back', teams_path, class: 'btn btn-sm btn-outline-secondary')) %>

<p id="notice"><%= notice %></p>

<h2>Members</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @team.users.
      order("users.name asc").each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role&.name %></td>
        <td><%= link_to user.email %></td>
        <td><%= link_to 'Show', user  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
