<% content_for :title, "Invoice - #{@invoice.code} - #{@invoice.aasm_state.humanize}" %>
<%= render 'actions', invoice: @invoice %>

<div class="row">
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <p>
          <strong>Contract:</strong> <%= link_to @invoice.contract.name, @invoice.contract  %>
        </p>
        <p>
          <strong>Code:</strong> <%= @invoice.code %>
        </p>
        <p>
          <strong>Milestone:</strong> <%= simple_format(@invoice.milestone) %>
        </p>
        <p>
          <strong>Amount:</strong> <%= number_to_currency(@invoice.amount, unit: "#{ @invoice.currency == 'euro' ? '€' : '$' }") %>
        </p>
        <p>
          <strong>Due Date:</strong> <%= @invoice.due_date&.strftime('%d/%B/%Y') %>
        </p>
        <% if @invoice.extended_date.present? %>
          <p>
            <strong>Extended Date:</strong> <%= @invoice.extended_date&.strftime('%d/%B/%Y') %>
          </p>
        <% end %>
        <% if @invoice.observations.present? %>
          <p>
            <strong>Observations:</strong>
            <%= simple_format(@invoice.observations) %>
          </p>
        <% end %>
        <p>
          <strong>Status:</strong>
        </p>
        <div class= "alert <%="alert-#{invoice_event_color(@invoice.aasm.current_state)}" %>" >
          <%= @invoice.aasm.current_state.to_s.humanize %>
        </div>
      </div>
    </div>
  </div>
</div>

