<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= form_with(model: contract, local: true) do |form| %>
          <% if contract.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

              <ul>
                <% contract.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="position-relative row form-group">
            <%= form.label :project_id, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.collection_select :project_id, @projects, :id, :name, {selected: contract.project_id}, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :code, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :code, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :name, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :notes, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_area :notes, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :budget, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">€</div>
                </div>
                <%= form.text_field :budget, class: 'form-control' %>
              </div>
            </div>
          </div>
          <% unless contract.new_record? %>
            <div class="position-relative row form-group">
              <%= form.label :percent_complete, 'Estimated completion', class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <div class="input-group">
                  <%= form.text_field :percent_complete, class: 'form-control' %>
                  <div class="input-group-append">
                    <div class="input-group-text">%</div>
                  </div>
                </div>
                <small class="form-text text-muted">
                  Please estimate how close to finished is this contract by estimating the
                  percentage of completion.
                </small>
              </div>
            </div>
          <% end %>

          <div class="position-relative row form-group">
            <%= form.label :aasm_state, value: "Contract state", class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.select :aasm_state, @states, {selected: contract.aasm_state}, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :start_date, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :start_date, class: 'form-control', data: {provide: 'datepicker'} %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :end_date, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :end_date, class: 'form-control', data: {provide: 'datepicker'} %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <div class="col-sm-10 offset-sm-2">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
