<% content_for :title, "Contracts" %>
<% if can? :create, Contract %>
  <% content_for :actions,
    link_to('Download', contracts_path(state: @state, format: 'csv'), class: 'btn btn-sm btn-outline-info')
      .concat(link_to('New Contract', new_contract_path, class: 'btn btn-sm btn-outline-primary'))%>
<% end %>

<div class="row mt-2">
  <div class="col-md-12">
    <%= form_with(url: 'contracts#index', method: :get, local: true, class: 'form-inline') do |form| %>
      <%= form.label :search, 'Search', class: 'sr-only' %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-md-7 mb-2 mr-sm-2',
        placeholder: 'Search contracts', onblur: 'this.form.submit();', onenter: 'this.form.submit();' %>
      <%= form.label :status, 'Status', class: 'sr-only' %>
      <%= form.select :state, options_for_select(@states, selected: @state),
        {}, class: "form-control col-md-4 mb-2 mr-sm-2", onchange: 'this.form.submit();' %>
      <%= submit_tag 'Filter', class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <%= page_entries_info @contracts %>
          <table class="table table-sm table-hovered">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Project</th>
                <th>Budget</th>
                <th>Costs to date</th>
                <th>Burn %</th>
                <th>Progress to date</th>
                <th>Income to date</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <% @contracts.each do |contract| %>
                <tr>
                  <td><%= contract.code %></td>
                  <td><%= link_to contract.name, contract %></td>
                  <td>
                    <%= billable_tag(contract.project) %>
                    <%= link_to contract.project.name, contract.project %>
                  </td>
                  <td>
                    <%= number_to_currency(contract.budget)  %>
                  </td>
                  <td>
                    <%= contract.is_billable? ? number_to_currency(contract.total_burn) : "#{contract.full_reports.sum(:days).round(2)} days" %>
                  </td>
                  <% if contract.is_billable? %>
                    <%= td_for_burn contract.burn_percentage, contract.income_percentage %>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td><%= "#{contract.latest_progress_report&.percentage}%" if contract.latest_progress_report %></td>
                  <td><%= number_to_currency(contract.income_to_date) if contract.latest_progress_report %></td>
                  <td>
                    <% if can? :manage, contract %>
                      <%= form_with(model: contract, method: :patch, local: true, class: 'd-inline') do |form| %>
                        <%= hidden_field_tag :current_state, @state %>
                        <%= form.hidden_field(:aasm_state, value: contract.next_state) %>
                        <%= form.submit contract.next_event, class: "btn btn-sm #{contract_event_color(contract.next_event)}" %>
                      <% end %>
                      <%= link_to "Edit", edit_contract_path(contract) %>
                      <%= link_to "Destroy", contract, method: :delete, data: {confirm:'Are you sure?'}%>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @contracts %>
          <hr>
          <p>
            <span class="h7">Burn % Legend:</span><br />
            <span class="text-success">Total costs are lower than income.</span><br />
            <span class="text-danger">Total costs are higher than income.</span><br />
            <span>NaN: missing budget information.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
