<% content_for :title, "Contracts" %>
<% if can? :create, Contract %>
  <% content_for :actions,
    link_to('New Contract', new_contract_path, class: 'btn btn-sm btn-outline-primary') %>
<% end %>
<p id="notice"><%= notice %></p>

<%= form_with(url: 'contracts#index', method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :state, options_for_select(@states, selected: @state), {}, class: "form-control", onchange: 'this.form.submit();' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Budget</th>
      <th>Costs</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.name, contract %></td>
        <td>
          <%= link_to contract.project.name, contract.project %>
          <%= billable_tag(contract.project) %>
        </td>
        <td>
          <%= number_to_currency(contract.budget, unit: '€')  %>
        </td>
        <td>
          <%= number_to_currency(contract.full_reports.sum(:cost), unit: '€') %>
        </td>
        <td>
          <% if can? :manage, contract %>
            <%= form_with(model: contract, method: :patch, local: true) do |form| %>
              <div class="form-group">
                <%= form.hidden_field(:aasm_state, value: contract.next_state) %>
                <%= form.submit contract.next_event, class: "btn #{event_color(contract.next_event)}" %>
              </div>
            <% end %>
            <%= link_to "Edit", edit_contract_path(contract) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
