<% content_for :title, "Contracts" %>
<p id="notice"><%= notice %></p>

<%= form_with(url: 'contracts#index', method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :state, options_from_collection_for_select(@states, :name, :name, selected: params[:state]), { prompt: true }, class: "form-control", onchange: 'this.form.submit();' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Budget</th>
      <th>Costs</th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= link_to contract.name, contract %></td>
        <td>
          <%= link_to contract.project.name, contract.project %>
          <%= billable_tag(contract.project) %>
        </td>
        <td>
          <%= number_to_currency(contract.budget, unit: '€')  %>
        </td>
        <td>
          <%= number_to_currency(contract.full_reports.sum(:cost), unit: '€') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
