<% content_for :title, "Contract - #{@contract.name}" %>
<%= render 'actions', contract: @contract %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Project:</strong> <%= link_to @contract.project.name, @contract.project  %>
  <%= billable_tag(@contract.project) %>
</p>
<% unless @contract.alias.empty? %>
  <p>
    <strong>Alias:</strong> <%= @contract.alias_list %>
  </p>
<% end %>
<p>
  <strong>Budget:</strong> <%= number_to_currency(@contract.budget, unit: '€') %>
</p>
<p>
  <strong>Start Date:</strong> <%= @contract.start_date.strftime('%d/%B/%Y') %>
</p>
<p>
  <strong>End Date:</strong> <%= @contract.end_date.strftime('%d/%B/%Y') %>
</p>

<br>

<h4>Project Burn</h4>
<%= line_chart @data, prefix: '€', thousands: "," %>

<br>
<h4>Time per role</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Role</th>
      <th>%</th>
      <th>Total days</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <% role_days = @days_per_role.where(role_id: role.id).first&.days || 0 %>
      <tr>
        <td><%= role.name %></td>
        <td><%= @total_days && (role_days / @total_days.to_f * 100).round(2) %>%</td>
        <td><%= role_days  %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><strong>Total</strong></td>
      <td><%= @total_days %></td>
    </tr>
  </tbody>
</table>

<br>

<h2>Reports</h2>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Period</th>
      <th>User</th>
      <th>Team</th>
      <th>Role</th>
      <th>Percentage</th>
      <th>Days</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @contract.full_reports.joins(:reporting_period).
       order("reporting_periods.date DESC").each do |report| %>
      <tr>
        <td><%= report.reporting_period_name %></td>
        <td><%= report.user_name %></td>
        <td><%= report.team_name %></td>
        <td><%= report.role_name %></td>
        <td><%= report.percentage %>%</td>
        <td><%= report.days %></td>
        <td><%= number_to_currency(report.cost, unit: '€')  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
