<%= line_chart line_chart_data(data, params[:graph]) %>

<br>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Period</th>
      <th>Sum K Projects</th>
      <th>Avg K Projects</th>
      <th>Variance K Projects</th>
      <th>Stdev K Projects</th>
      <th>Sum Rosling Projects</th>
      <th>Avg Rosling Projects</th>
      <th>Variance Rosling Projects</th>
      <th>Stdev Rosling Projects</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% data.each do |dt| %>
      <% ks = dt[:K] %>
      <% roslings = dt[:Rosling] %>
      <tr>
        <td><%= dt[:rp].display_name %></td>
        <td><%= ks[:total_contracts] %></td>
        <td><%= ks[:mean] %></td>
        <td><%= ks[:variance] %></td>
        <td><%= ks[:stdev] %></td>
        <td><%= roslings[:total_contracts] %></td>
        <td><%= roslings[:mean] %></td>
        <td><%= roslings[:variance] %></td>
        <td><%= roslings[:stdev] %></td>
        <td>
          <%= link_to 'Show', reporting_period_path(dt[:rp], role_id: params[:role_id]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
