<%= content_for :title, "Analysis" %>

<%= form_with(url: analysis_index_path, method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :threshold %>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">%</div>
      </div>
      <%= form.text_field :threshold, value: params[:threshold], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :calculation %>
    <% filter_options = [["average per person", "avg"], ["total", "total"]] %>
    <%= form.select :calculation, filter_options, {selected: params[:calculation]}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_from_collection_for_select(@roles, :id, :name, selected: params[:role_id]), { prompt: true }, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Filter" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Period</th>
      <th>Total <%= @role.try(:name) || "staff"  %> - Team K</th>
      <th>Team K</th>
      <th>Total <%= @role.try(:name) || 'staff' %> - Team Rosling</th>
      <th>Team Rosling</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_periods.each do |reporting_period| %>
      <tr>
        <td><%= reporting_period.display_name %></td>
        <td><%= @ks.count %></td>
        <td><%= number_with_precision(reporting_period.total_projects_reported_by(@k.id, params)) %></td>
        <td><%= @roslings.count %></td>
        <td><%= number_with_precision(reporting_period.total_projects_reported_by(@rosling.id, params)) %></td>
        <td>
          <%= link_to 'Show', reporting_period %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
