<%= content_for :title, "Analysis" %>

<%= form_with(url: analysis_index_path, method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :threshold %>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">%</div>
      </div>
      <%= form.text_field :threshold, value: params[:threshold], class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_from_collection_for_select(@roles, :id, :name, selected: params[:role_id]), { prompt: true }, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Filter" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Period</th>
      <th>Sum K Projects</th>
      <th>Avg K Projects</th>
      <th>Variance K Projects</th>
      <th>Stdev K Projects</th>
      <th>Sum Rosling Projects</th>
      <th>Avg Rosling Projects</th>
      <th>Variance Rosling Projects</th>
      <th>Stdev Rosling Projects</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_periods.each do |reporting_period| %>
      <% ks_data = @data[:K].select{|t| t[:date] == reporting_period.display_name}.first %>
      <% roslings_data = @data[:Rosling].select{|t| t[:date] == reporting_period.display_name}.first %>
      <tr>
        <td><%= reporting_period.display_name %></td>
        <td><%= ks_data[:sum_report_parts] %></td>
        <td><%= ks_data[:mean_projects] %></td>
        <td><%= ks_data[:variance] %></td>
        <td><%= ks_data[:stdev] %></td>
        <td><%= roslings_data[:sum_report_parts] %></td>
        <td><%= roslings_data[:mean_projects] %></td>
        <td><%= roslings_data[:variance] %></td>
        <td><%= roslings_data[:stdev] %></td>
        <td>
          <%= link_to 'Show', reporting_period_path(reporting_period, role_id: params[:role_id]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
