<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.text_field :cost, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :team_id %>
    <%= form.collection_select :team_id, @teams, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :roles_id %>
    <%= form.collection_select :roles_id, @roles, :id, :name, { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
