<% content_for :title, "People" %>
<% content_for :actions,
  link_to('New User', new_user_path, class: 'btn btn-sm btn-outline-primary') %>

<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Role</th>
      <% if current_user.admin? %>
        <th>Cost per month</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.team.try(:name) %></td>
        <td><%= user.role.try(:name) %></td>
        <% if current_user.admin? %>
          <td><%= user.cost %></td>
        <% end %>
        <td>
          <%= link_to 'Show', user %>
          <% if can? :edit, user %>
            |
            <%= link_to('Edit', edit_user_path(user)) %>
          <% end %>
          <% if can? :delete, user %>
            |
            <%= link_to('Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
