<% content_for :title, "People" %>
<% content_for :actions,
  link_to('New User', new_user_path, class: 'btn btn-sm btn-outline-primary') %>

<div class="row mt-2">
  <div class="col-md-12">
    <%= form_with(url: 'users#index', method: :get, local: true, class: 'form-inline') do |form| %>
      <%= form.label :search, 'Search', class: 'sr-only' %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-sm-7 mb-2',
        placeholder: 'Search users', onblur: 'this.form.submit();', onenter: 'this.form.submit();' %>
      <%= form.label :status, 'Status', class: 'sr-only' %>
      <%= form.select :state, options_for_select([['Active', 'active'], ['Inactive', 'inactive']], selected: @state),
        {}, class: "form-control col-sm-5 mb-2", onchange: 'this.form.submit();' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <%= page_entries_info @users %>
          <table class="table table-lg table-hover table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Functional Area</th>
                <% if current_user.admin? %>
                  <th>Rate</th>
                  <th>Dedication</th>
                  <th>Status</th>
                <% end %>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= image_tag(user.gravatar_url(40), class: 'rounded-circle') %>
                    <%= user.name %>
                  </td>
                  <td><%= user.role.try(:name) %></td>
                  <% if current_user.admin? %>
                    <td><%= user.rate&.code %></td>
                    <td><%= user.dedication %></td>
                  <% end %>
                  <td>
                    <%= user.active ? 'Active' : 'Inactive' %>
                  </td>
                  <td>
                    <%= link_to 'Show', user %>
                    <% if can? :edit, user %>
                      |
                      <%= link_to('Edit', edit_user_path(user)) %>
                    <% end %>
                    <% if user.active && (can? :delete, user) %>
                      |
                      <%= link_to('Deactivate', user, method: :delete, data: { confirm: 'Are you sure?' }) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
