<% content_for :title, "#{@user.name} - Reports" %>
<%= render 'actions', user: @user %>

<div class="row mt-2">
  <div class="col-md-12">
    <%= form_with(url: reports_user_path(@user), method: :get, local: true, class: 'form-inline') do |form| %>
      <%= form.label :reporting_period_id, 'Reporting Period', class: 'sr-only' %>
      <%= form.select :reporting_period_id, options_from_collection_for_select(@reporting_periods, :id, :display_name, selected: params[:reporting_period_id]), { prompt: true }, class: "form-control  col-md-11 mb-2 mr-sm-2", onchange: 'this.form.submit();' %>
      <%= form.submit "Filter", class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">% of Time in a project</h5>
        <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
          <%= pie_chart @data, stacked: true %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Period</th>
                <th>Contract</th>
                <th>Functional Area</th>
                <th>Percentage</th>
                <th>Days</th>
                <th>Cost</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @full_reports.each do |report| %>
                  <tr class="<%= "table-warning" if report.report_estimated? %>">
                  <td><%= link_to report.reporting_period_name, reporting_period_path(report.reporting_period_id) %></td>
                  <td><%= link_to report.contract_name, report_path(report.report_id) %></td>
                  <td><%= link_to(report.role_name, role_path(report.role_id)) if report.role_id %></td>
                  <td><%= report.percentage %>%</td>
                  <td><%= report.days %></td>
                  <td><%= number_to_currency(report.cost) %></td>
                  <td>
                    <% if can? :edit, report.report %>
                      <%= link_to "Edit", edit_report_path(report.report_id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @full_reports %>
        </div>
      </div>
    </div>
  </div>
</div>
