<% content_for :title, "#{@user.name}" %>
<%= render 'actions', user: @user %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to(@user.email) %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.try(:name) %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.role.try(:name) %>
</p>

<h2>Allocations and Schedule</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Contract</th>
      <% @reporting_periods.each do |rp| %>
        <th><%= rp.reporting_period_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @reports.select(:contract_id, :contract_name).distinct.order(:contract_name).each do |report| %>
      <tr>
        <td><%= link_to report.contract_name, contract_path(report.contract_id) %></td>
        <% @reporting_periods.each do |rp| %>
          <% selected_report = @reports
            .where(contract_name: report.contract_name, reporting_period_id: rp.reporting_period_id)
            .first %>
          <td class="<%= "table-warning" if selected_report && selected_report.report_estimated? %>">
            <%= selected_report.try(&:percentage) || 0 %> %
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <th>Total</th>
      <% @reporting_periods.each do |rp| %>
        <th>
          <%= @reports.where(reporting_period_id: rp.reporting_period_id).sum(:percentage) %>%
        </th>
      <% end %>
    </tr>
  </tbody>
</table>
