<% content_for :title, "User - #{@user.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team.try(:name) %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.role.try(:name) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
