<% if current_user %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= ["analysis", "project_stacks"].include?(controller_name) && "active" %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Analysis
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to analysis_index_path, class: "dropdown-item" do %>
          Means and Deviations
        <% end %>
      </div>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'reporting_periods' %>">
      <%= link_to :reporting_periods, class: "nav-link" do %>
        Reporting Periods <span class="sr-only"><%= "(current)" if controller_name == 'reporting_periods' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'contracts' %>">
      <%= link_to :contracts, class: "nav-link" do %>
        Contracts <span class="sr-only"><%= "(current)" if controller_name == 'contracts' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'projects' %>">
      <%= link_to :projects, class: "nav-link" do %>
        Projects <span class="sr-only"><%= "(current)" if controller_name == 'projects' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'non_staff_costs' %>">
      <%= link_to :non_staff_costs, class: "nav-link" do %>
        Non Staff Costs <span class="sr-only"><%= "(current)" if controller_name == 'non_staff_costs' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'users' %>">
      <%= link_to :users, class: "nav-link" do %>
        People <span class="sr-only"><%= "(current)" if controller_name == 'users' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'teams' %>">
      <%= link_to :teams, class: "nav-link" do %>
        Teams <span class="sr-only"><%= "(current)" if controller_name == 'teams' %></span>
      <% end %>
    </li>
    <li class="nav-item <%= 'active' if controller_name == 'roles' %>">
      <%= link_to :roles, class: "nav-link" do %>
        Roles <span class="sr-only"><%= "(current)" if controller_name == 'roles' %></span>
      <% end %>
    </li>
  </ul>
<% end %>
