<% if current_user %>
  <ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">Menu</li>
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-rocket"></i>
        Reporting Periods
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :reporting_periods do %>
            <i class="metismenu-icon"></i>
            All
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-browser"></i>
        Contracts & Projects
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :contracts do %>
            <i class="metismenu-icon"></i>
            Contracts
          <% end %>
        </li>
        <li>
          <%= link_to :projects do %>
            <i class="metismenu-icon"></i>
            Projects
          <% end %>
        </li>
        <li>
          <%= link_to :non_staff_costs do %>
            <i class="metismenu-icon"></i>
            Non Staff Costs
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-users"></i>
        People
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :users do %>
            <i class="metismenu-icon"></i>
            People
          <% end %>
        </li>
        <li>
          <%= link_to :teams do %>
            <i class="metismenu-icon"></i>
            Teams
          <% end %>
        </li>
        <li>
          <%= link_to :roles do %>
            <i class="metismenu-icon"></i>
            Roles
          <% end %>
        </li>
        <li>
          <%= link_to :roles do %>
            <i class="metismenu-icon"></i>
            Rates
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
