<% if current_user %>
  <ul class="vertical-nav-menu">
    <% if Rails.env.development? %>
      <li class="app-sidebar__heading">Development</li>
      <li><%= switch_user_select %></li>
    <% end %>
    <li class="app-sidebar__heading">Menu</li>
    <li class="<%= "mm-active" if ['reporting_periods', 'results'].include?(controller_name) %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-piggy"></i>
        Finances
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :reporting_periods, class: (controller_name == 'reporting_periods' && action_name == 'index' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Reporting Periods
          <% end %>
        </li>
        <li>
          <%= link_to :invoices, class: (controller_name == 'invoices' && action_name == 'index' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Invoices
          <% end %>
        </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to income_reporting_periods_path, class: (controller_name == 'reporting_periods' && action_name == 'income' && 'mm-active') do %>
              <i class="metismenu-icon"></i>
              Income (6 months)
            <% end %>
          </li>
          <li>
            <%= link_to results_path, class: (controller_name == 'results' && action_name == 'index' && 'mm-active') do %>
              <i class="metismenu-icon"></i>
              Monthly breakdown
            <% end %>
          </li>
          <li>
            <%= link_to costs_path, class: (controller_name == 'cost' && action_name == 'index' && 'mm-active') do %>
              <i class="metismenu-icon"></i>
              Monthly costs
            <% end %>
          </li>
          <li>
            <%= link_to fa_performances_path, class: (controller_name == 'fa_performances' && action_name == 'index' && 'mm-active') do %>
              <i class="metismenu-icon"></i>
              FA performance
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="<%= "mm-active" if ['contracts', 'projects', 'non_staff_costs'].include?(controller_name) %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-portfolio"></i>
        Contracts & Projects
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :contracts, class: (controller_name == 'contracts' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Contracts
          <% end %>
        </li>
        <li>
          <%= link_to :projects, class: (controller_name == 'projects' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Projects
          <% end %>
        </li>
        <li>
          <%= link_to :non_staff_costs, class: (controller_name == 'non_staff_costs' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Non Staff Costs
          <% end %>
        </li>
      </ul>
    </li>
    <li class="<%= "mm-active" if ['users', 'teams', 'roles', 'rates'].include?(controller_name) %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-users"></i>
        People
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :users, class: (controller_name == 'users' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            People
          <% end %>
        </li>
        <li>
          <%= link_to :teams, class: (controller_name == 'teams' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Teams
          <% end %>
        </li>
        <li>
          <%= link_to :roles, class: (controller_name == 'roles' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Functional Areas
          <% end %>
        </li>
        <li>
          <%= link_to :rates, class: (controller_name == 'rates' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Rates
          <% end %>
        </li>
      </ul>
    </li>
    <li class="app-sidebar__heading">Useful Links</li>
    <li>
      <a href="https://drive.google.com/drive/folders/1ycjuPMQYsD1rke-edupftI6GCHLlpWWS" target='_blank' rel="nofollow noopener">
        <i class="metismenu-icon pe-7s-folder"></i>
        #Projects @ GDrive
      </a>
    </li>
    <li>
      <a href="https://vizzuality.github.io/playbook/" target='_blank' rel="nofollow noopener">
        <i class="metismenu-icon pe-7s-joy"></i>
        Playbook
      </a>
    </li>
    <li>
      <a href="https://vizzuality.bamboohr.com/" target='_blank' rel="nofollow noopener">
        <i class="metismenu-icon pe-7s-id"></i>
        BambooHR
      </a>
    </li>
    <li>
      <a href="https://vizzuality.blogin.co/" target='_blank' rel="nofollow noopener">
        <i class="metismenu-icon pe-7s-note"></i>
        Blogin
      </a>
    </li>
  </ul>
<% end %>
