<% if current_user %>
  <ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">Menu</li>
    <li class="<%= "mm-active" if controller_name == 'reporting_periods' %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-rocket"></i>
        Reporting Periods
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :reporting_periods, class: (controller_name == 'reporting_periods' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            All
          <% end %>
        </li>
      </ul>
    </li>
    <li class="<%= "mm-active" if ['contracts', 'projects', 'non_staff_costs'].include?(controller_name) %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-browser"></i>
        Contracts & Projects
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :contracts, class: (controller_name == 'contracts' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Contracts
          <% end %>
        </li>
        <li>
          <%= link_to :projects, class: (controller_name == 'projects' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Projects
          <% end %>
        </li>
        <li>
          <%= link_to :non_staff_costs, class: (controller_name == 'non_staff_costs' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Non Staff Costs
          <% end %>
        </li>
      </ul>
    </li>
    <li class="<%= "mm-active" if ['users', 'teams', 'roles', 'rates'].include?(controller_name) %>">
      <a href="#">
        <i class="metismenu-icon pe-7s-users"></i>
        People
        <i class="metismenu-state-icon pe-7s-angle-down care-left"></i>
      </a>
      <ul>
        <li>
          <%= link_to :users, class: (controller_name == 'users' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            People
          <% end %>
        </li>
        <li>
          <%= link_to :teams, class: (controller_name == 'teams' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Teams
          <% end %>
        </li>
        <li>
          <%= link_to :roles, class: (controller_name == 'roles' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Roles
          <% end %>
        </li>
        <li>
          <%= link_to :rates, class: (controller_name == 'rates' && 'mm-active') do %>
            <i class="metismenu-icon"></i>
            Rates
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
