<% content_for :title, "Results - Overview" %>

<div class="row">
  <div class="col col-lg-8">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= form_with(url: results_path, method: :get, local: true) do |form| %>
          <div class="form-group">
            <%= label_tag :year, 'Select year' %>
            <%= select_tag :year, options_for_select(@years, @year), class: "form-control" %>
          </div>
          <div class="actions">
            <%= form.submit "Filter" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-lg-8">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Costs and Incomes for <%= @year %></h5>
        <div class="table-responsive">
          <table class="table mb-0 table-bordered">
            <thead>
              <tr>
                <th rowspan="2">Contract</th>
                <% @reporting_periods.each do |rp| %>
                  <th colspan="2"><%= rp.display_name %></th>
                <% end %>
              </tr>
              <tr>
                <% @reporting_periods.each do |rp| %>
                  <th>Cost</th>
                  <th>Income</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @contracts.each do |contract| %>
                <tr>
                  <td><%= link_to contract.name, contract %></td>
                  <% @reporting_periods.each do |rp| %>
                    <td class="text-danger">
                      <% val = @full_reports.select{|fr| fr[:contract_id] == contract.id && fr[:reporting_period_id] == rp.id }&.first&.cost || 0.0 %>
                      <% val += contract.non_staff_costs.where(reporting_period_id: rp.id).sum(:cost) %>
                      <%= number_to_currency(val) if val > 0.0 %>
                    </td>
                    <td class="text-success">
                      <% income = @monthly_incomes.select{|mi| mi[:contract_id] == contract.id && mi[:reporting_period_id] == rp.id}&.first&.income %>
                      <%= number_to_currency(income) if income %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
