<%= content_for :title, "Analysis - Project Weights" %>

<%= form_with(url: analysis_index_path, method: :get, local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :threshold %>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
        <%= form.text_field :threshold, value: params[:threshold], class: 'form-control' %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :role_id %>
      <%= form.select :role_id, options_from_collection_for_select(@roles, :id, :name, selected: params[:role_id]), { prompt: true }, class: "form-control" %>
    </div>
    <%= form.submit "Filter", class: "btn btn-primary" %>
  </div>
<% end %>
<br>

 <%= column_chart @data, stacked: true %>
