<% is_new_record = form.object.new_record? %>

<%= content_tag :fieldset,
  class: 'contracts-fields nested-fields inline-fields border border-secondary shadow p-3 mb-5 bg-white rounded',
  data: { controller: 'contract', new_record: is_new_record } do %>

  <div class="position-relative row form-group">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="position-relative row form-group">
    <%= form.label :code, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :code, class: 'form-control' %>
    </div>
  </div>

  <div class="position-relative row form-group">
    <%= form.label :budget, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <%= form.text_field :budget, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="position-relative row form-group">
    <%= form.label :start_date, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :start_date, class: 'form-control', data: {provide: 'datepicker'} %>
    </div>
  </div>

  <div class="position-relative row form-group">
    <%= form.label :end_date, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :end_date, class: 'form-control', data: {provide: 'datepicker'} %>
    </div>
  </div>

  <div class="position-relative row form-group">
    <%= form.label :alias_list, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :alias_list, class: 'form-control' %>
      <small class="form-text text-muted">
        Comma separated list of alternative names [e.g.: "CW, Climate Watch"]
      </small>
    </div>
  </div>

  <li class="input">
    <%= button_tag 'Remove', type: 'button',
    class: 'btn btn-danger',
    data: { action: 'click->nested-list#removeRecord' } %>
  </li>
  <%= form.hidden_field :_destroy %>
<% end %>
