<% is_new_record = form.object.new_record? %>

<%= content_tag :fieldset,
  class: 'contracts-fields nested-fields inline-fields border border-secondary shadow p-3 mb-5 bg-white rounded',
  data: { controller: 'contract', new_record: is_new_record } do %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :budget %>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">€</div>
      </div>
      <%= form.text_field :budget, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :alias_ist %>
    <%= form.text_field :alias_list, class: 'form-control' %>
    <small class="form-text text-muted">
      Comma separated list of alternative names [e.g.: "CW, Climate Watch"]
    </small>
  </div>

  <li class="input">
    <%= button_tag 'Remove', type: 'button',
    class: 'btn btn-danger',
    data: { action: 'click->nested-list#removeRecord' } %>
  </li>
  <%= form.hidden_field :_destroy %>
<% end %>
