<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= form_with(model: project, local: true) do |form| %>
          <% if project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% project.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="position-relative row form-group">
            <%= form.label :name, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :is_billable, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.check_box :is_billable, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :team_id, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.collection_select :team_id, @teams, :id, :name, { include_blank: true }, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <div class="col-sm-10 offset-sm-2">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
