
<% content_for :title, "Projects" %>
<% if can? :create, Project %>
  <% content_for :actions,
    link_to('New Project', new_project_path, class: 'btn btn-sm btn-outline-primary') %>
<% end %>

<div class="row mt-2">
  <div class="col-md-12">
    <%= form_with(url: 'projects#index', method: :get, local: true, class: 'form-inline') do |form| %>
      <%= form.label :search, 'Search', class: 'sr-only' %>
      <%= text_field_tag :search, params[:search], class: 'form-control col-sm-12 mb-2',
        placeholder: 'Search projects', onblur: 'this.form.submit();', onenter: 'this.form.submit();' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <%= page_entries_info @projects %>
          <table class="table table-sm table-hovered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contracts #</th>
                <th>Total Budget</th>
                <th>Total Costs</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td>
                    <%= billable_tag(project) %>
                    <%= link_to project.name, project %>
                  </td>
                  <td><%= project.contracts.size %></td>
                  <td><%= number_to_currency(project.budget) %></td>
                  <td><%= number_to_currency(project.costs) %></td>
                  <td>
                    <%= link_to 'Show', project %>
                    <% if can? :manage, project %>
                      <%= link_to 'Edit', edit_project_path(project) %>
                      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @projects %>
        </div>
      </div>
    </div>
  </div>
</div>
