<p id="notice"><%= notice %></p>

<% content_for :title, "Projects" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Budget</th>
      <th>Costs</th>
      <th>%</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.alias %></td>
        <td><%= number_to_currency(project.budget, unit: '€') %></td>
        <% spent = project.report_parts.sum(:cost).presence || 0 %>
        <td><%= number_to_currency(spent, unit: '€') %></td>
        <td><%= project.budget && ((project.budget-spent)/project.budget*100).round(2) %>%</td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
