
<% content_for :title, "Projects" %>
<% if can? :create, Project %>
  <% content_for :actions,
    link_to('New Project', new_project_path, class: 'btn btn-sm btn-outline-primary') %>
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hovered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contracts #</th>
                <th>Total Budget</th>
                <th>Total Costs</th>
                <th>Burn %</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td>
                    <%= billable_tag(project) %>
                    <%= link_to project.name, project %>
                  </td>
                  <td><%= project.contracts.size %></td>
                  <td><%= number_to_currency(project.budget) %></td>
                  <td><%= number_to_currency(project.costs) %></td>
                  <% if project.is_billable? %>
                    <%= td_for_burn(project.burn_percentage) %>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td>
                    <%= link_to 'Show', project %>
                    <% if can? :manage, project %>
                      <%= link_to 'Edit', edit_project_path(project) %>
                      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <p>
            <span class="h7">Burn % Legend:</span><br />
            <span class="text-success">Total costs are lower than total budget.</span><br />
            <span class="text-warning">Total costs are higher than income reported but lower than 100% of available budget.</span><br />
            <span class="text-danger">Total costs are higher than available budget.</span><br />
            <span>NaN: missing budget information.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
