<% content_for :title, "Project - #{@project.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @project.alias %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
