<% content_for :title, "Project - #{@project.name}" %>
<p id="notice"><%= notice %></p>

<% content_for :actions do
  link_to('Edit', edit_project_path(@project), class: 'btn btn-sm btn-outline-primary').concat(
    link_to('Back', projects_path, class: 'btn btn-sm btn-outline-secondary'))
end %>

<h2>Contracts</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Budget</th>
      <th>Costs</th>
      <th>Days spent</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @project.contracts.
      order("contracts.name asc").each do |contract| %>
      <tr>
        <td><%= contract.name %></td>
        <td>
          <%= number_to_currency(contract.budget, unit: '€') %>
        </td>
        <td>
          <%= number_to_currency(contract.full_reports.sum(:cost), unit: '€') %>
        </td>
        <td><%= contract.full_reports.sum(:days) %></td>
        <td><%= contract.start_date %></td>
        <td><%= contract.end_date %></td>
        <td><%= link_to 'Show', contract  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
