<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <%= form_with(model: non_staff_cost, local: true) do |form| %>
          <% if non_staff_cost.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(non_staff_cost.errors.count, "error") %> prohibited this non_staff_cost from being saved:</h2>

              <ul>
                <% non_staff_cost.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="position-relative row form-group">
            <%= form.label :contract_id, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.collection_select :contract_id, @contracts, :id, :name, {}, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :cost_type, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.select :cost_type, NonStaffCost::TYPES.map{|t| [t.humanize, t]}, {}, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :cost, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">€</div>
                </div>
                <%= form.text_field :cost, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :details, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.text_field :details, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <%= form.label :reporting_period_id, class: "col-sm-2 col-form-label" %>
            <div class="col-sm-10">
              <%= form.collection_select :reporting_period_id, @reporting_periods, :id, :display_name, {}, class: 'form-control' %>
            </div>
          </div>

          <div class="position-relative row form-group">
            <div class="col-sm-10 offset-sm-2">
              <%= form.submit 'Submit', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
