<% content_for :title, "Roles" %>
<% content_for :actions,
  link_to('New Role', new_role_path, class: 'btn btn-sm btn-outline-primary') %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Members count</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @roles.each do |role| %>
              <tr>
                <td><%= role.name %></td>
                <td><%= role.users.count %></td>
                <td>
                  <%= link_to 'Show', role %>
                  <% if can? :manage, role %>
                    |
                    <%= link_to 'Edit', edit_role_path(role) %>
                    |
                    <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
