<% content_for :title, "Rates" %>
<% if can? :create, Rate %>
  <% content_for :actions,
    link_to('New Rate', new_rate_path, class: 'btn btn-sm btn-outline-primary') %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Value</th>
              <th># Staff</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @rates.each do |rate| %>
              <tr>
                <td><%= rate.code %></td>
                <td><%= number_to_currency(rate.value) %></td>
                <td><%= rate.users.count %></td>
                <td>
                  <%= link_to 'Show', rate %>
                  <% if can? :manage, rate %>
                    <%= link_to 'Edit', edit_rate_path(rate) %>
                    <%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
