<%= form_with(model: report, url: [:reporting_period, report], local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if report.estimated? %>
    <div class="alert alert-warning">
      This report is an estimate, please remember to confirm the project allocation
      at the end of the month.
    </div>
    <div class="form-group">
      <%= form.label :estimated %>
      <%= form.check_box :estimated, {}, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :reporting_period_id %>
    <%= form.collection_select :reporting_period_id, @reporting_periods, :id,
      :display_name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id,
      :name, {selected: form.object.user_id || current_user.id}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :team_id %>
    <%= form.collection_select :team_id, @teams, :id,
      :name, {selected: form.object.team_id || current_user.team_id}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :role_id %>
    <%= form.collection_select :role_id, @roles, :id,
      :name, {selected: form.object.role_id || current_user.role_id}, class: 'form-control' %>
  </div>

	<div data-controller="nested-list">
		<template>
			<%= form.fields_for :report_parts, ReportPart.new, child_index: 'NEW_RECORD' do |builder| %>
				<%= render "report_part_fields", form: builder %>
			<% end %>
    </template>
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Percentage</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :report_parts do |builder| %>
          <%= render 'report_part_fields', form: builder %>
        <% end %>
        <tr class="nested-list__actions" data-target="nested-list.links">
          <td colspan="3">
            <%= button_tag "Add Another Project", type: 'button',
              class: 'btn btn-secondary',
              data: { action: "click->nested-list#addRecord" } %>
          </td>
        </tr>
      </tbody>
    </table>
	</div>

  <div class="actions">
    <%= form.submit form.object.new_record? ? "Submit" : "Update", class: "btn btn-primary" %>
  </div>
<% end %>
