<% is_new_record = form.object.new_record? %>

<%= content_tag :tr,
  class: 'report-parts-fields nested-fields',
  data: { controller: 'report-part', new_record: is_new_record } do %>
  <td>
    <%= form.collection_select :contract_id, @contracts, :id,
      :full_name, {}, class: 'form-control' %>
  </td>

  <td>
    <div class="input-group">
      <%= form.text_field :percentage, class: 'form-control',
          data: { action: 'change->report-percentages#recalc', target: 'report-percentages.source' }%>
      <div class="input-group-prepend">
        <div class="input-group-text">%</div>
      </div>
    </div>
  </td>
  <td>
    <%= button_tag 'Remove', type: 'button',
      class: 'btn btn-danger',
      data: { action: 'click->nested-list#removeRecord click->report-percentages#recalc' } %>
  </td>
  <%= form.hidden_field :_destroy %>
<% end %>
