<% content_for :title, "Reports" %>
<% content_for :actions, link_to('New Report', new_report_path) %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Team</th>
              <th>Functional Area</th>
              <th>Reporting period</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @reports.each do |report| %>
              <tr>
                <td><%= report.user_id %></td>
                <td><%= report.team_id %></td>
                <td><%= report.role_id %></td>
                <td><%= report.reporting_period_id %></td>
                <td><%= link_to 'Show', report %></td>
                <td><%= link_to 'Edit', edit_report_path(report) %></td>
                <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
