<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Functional Area:</strong>
  <%= @report.role_id %>
</p>

<p>
  <strong>Reporting period:</strong>
  <%= @report.reporting_period_id %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
