<!DOCTYPE html>
<html>
  <head>
    <title>VizzTrackr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Vizz Trackr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <%= render 'shared/nav' %>
        </ul>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <% if current_user %>
            <%= link_to "(#{current_user.name}) Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    </nav>

    <main role="main" class="container">
      <div class="alert alert-warning" role="alert">
        This is a Proof of Concept, any figures here might be wrong and should be taken with a pinch of salt.
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= yield(:title) %></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <%= yield(:actions).html_safe %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
