<%= form_with(model: reporting_period, local: true) do |form| %>
  <% if reporting_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporting_period.errors.count, "error") %> prohibited this reporting_period from being saved:</h2>

      <ul>
        <% reporting_period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, { discard_day: true, order: [:month, :year] }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :copy_reporting_period_id, 'Copy Reports as Plan From' %>
    <%= select_tag :copy_reporting_period_id,
      options_from_collection_for_select(@reporting_periods, :id, :display_name),
      include_blank: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
