<% content_for :title, "Reporting Periods - Incomes" %>
<% if can? :create, ReportingPeriod %>
  <% content_for :actions do
      link_to('Back', reporting_periods_path, class: 'btn btn-sm btn-outline-info')
    end
  %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>Project</th>
              <th>Contract</th>
              <th>State</th>
              <% @timeframe.each do |month| %>
                <th scope="col" style="width: 11%"><%= month.strftime('%B %y') %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
              <% next unless @monthly_incomes.find{|m| m.contract_id == contract.id} %>
              <tr>
                <td><%= contract.project&.name %></td>
                <td><%= link_to contract.name, contract %></td>
                <td><%= contract.aasm_state.humanize %></td>
                <% @timeframe.each do |month| %>
                  <% val = @monthly_incomes.find { |m| m.contract_id ==  contract.id && m.month ==  month }&.income %>
                  <td style="width: 11%"><%= number_to_currency(val) if val %></td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <th colspan=3>Total</th>
              <% @timeframe.each do |month| %>
                <td><%= number_to_currency(@monthly_incomes.where(month: month).sum(:income)) %></td>
              <% end %>
            </tr>
            <tr>
              <th colspan=3>Total Live</th>
              <% @timeframe.each do |month| %>
                <td><%= number_to_currency(@monthly_incomes.where(month: month, aasm_state: 'live').sum(:income)) %></td>
              <% end %>
            </tr>
            <tr>
              <th colspan=3>Total Proposals</th>
              <% @timeframe.each do |month| %>
                <td><%= number_to_currency(@monthly_incomes.where(month: month, aasm_state: 'proposal').sum(:income)) %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
