<% content_for :title, "Reporting Periods - Income" %>
<% if can? :create, ReportingPeriod %>
  <% content_for :actions do
      link_to('Back', reporting_periods_path, class: 'btn btn-sm btn-outline-info')
    end
  %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Project</th>
                <th>Contract</th>
                <th>State</th>
                <% @timeframe.each do |month| %>
                  <th class='<%= "border border-success" if month == Time.now.beginning_of_month %>' scope="col" style="width: 11%">
                    <%= month.strftime('%B %y') %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% total = Hash.new(0) %>
              <% @contracts.each do |contract| %>
                <% next unless @monthly_incomes.find{|m| m.contract_id == contract.id} %>
                <tr>
                  <td><%= contract.project&.name %></td>
                  <td><%= link_to contract.name, contract %></td>
                  <td><%= contract.aasm_state.humanize %></td>
                  <% @timeframe.each do |month| %>
                    <% val, projected = income_val contract, month, @monthly_incomes %>
                    <td class="<%= projected ? 'text-info' : 'text-success' %>" style="width: 11%">
                      <% if val %>
                        <% total[month] += val %>
                        <%= number_to_currency(val) %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <th colspan=3>Total</th>
                <% @timeframe.each do |month| %>
                  <td><%= number_to_currency(total[month]) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
