<% content_for :title, "Income from live projects period #{@timeframe.first.strftime("%B %Y")} - #{@timeframe.last.strftime("%B %Y")}" %>
<% if can? :create, ReportingPeriod %>
  <% content_for :actions do
      link_to('Back', reporting_periods_path, class: 'btn btn-sm btn-outline-info')
    end
  %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Contract</th>
                <th class="currency-col">Budget</th>
                <th class="currency-col">Costs to date</th>
                <th class="currency-col">Income to date</th>
                <th>Progress</th>
                <% @timeframe.each do |month| %>
                  <th class='currency-col <%= "border border-primary" if month == Time.now.beginning_of_month %>' scope="col">
                    <%= month.strftime('%B \'%y') %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% total = Hash.new(0) %>
              <% @contracts.each do |contract| %>
                <% next unless @monthly_incomes.find{|m| m.contract_id == contract.id} %>
                <tr>
                  <td class="text-col"><%= link_to contract.full_name, contract %></td>
                  <td><%= number_to_currency(contract.budget) %></td>
                  <td><%= number_to_currency(contract.total_burn) %></td>
                  <td><%= number_to_currency(contract.income_to_date) %></td>
                  <td><%= "#{contract.latest_progress_report.percentage}%" if contract.latest_progress_report %></td>
                  <% @timeframe.each do |month| %>
                    <% val, projected = income_val contract, month, @monthly_incomes %>
                    <td class="<%= projected ? 'text-info' : 'text-success' %>">
                      <% if val %>
                        <% total[month] += val %>
                        <%= number_to_currency(val) %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <th colspan=5>Total</th>
                <% @timeframe.each do |month| %>
                  <td><%= number_to_currency(total[month]) %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <p>
            <span class="text-success">Income based on progress report.</span><br />
            <span class="text-info">Income calculated linearly from remaining project timeframe and budget.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
