<p id="notice"><%= notice %></p>

<h1>Reporting Periods</h1>

<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Reports</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_periods.each do |reporting_period| %>
      <tr>
        <td><%= reporting_period.date.try(:strftime, "%B") %></td>
        <td><%= reporting_period.date.try(:strftime, "%Y") %></td>
        <td><%= reporting_period.reports.count %></td>
        <td><%= link_to 'New report', new_reporting_period_report_path(reporting_period) %></td>
        <td><%= link_to 'Show', reporting_period %></td>
        <td><%= link_to 'Edit', edit_reporting_period_path(reporting_period) %></td>
        <td><%= link_to 'Destroy', reporting_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporting Period', new_reporting_period_path %>
