<p id="notice"><%= notice %></p>

<% content_for :title, "Reporting Periods" %>
<% content_for :actions do
    link_to 'New Reporting Period', new_reporting_period_path, class: 'btn btn-sm btn-outline-primary'
  end
%>

<br>
<h4>Cost in Projects</h4>
<%= line_chart @data, prefix: '€', thousands: "," %>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Period</th>
      <th>Final Reports</th>
      <th>Estimated Reports</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_periods.each do |reporting_period| %>
      <tr>
        <td><%= reporting_period.display_name %></td>
        <td><%= reporting_period.reports.where(estimated: false).count %></td>
        <td><%= reporting_period.reports.where(estimated: true).count %></td>
        <td>
          <%= link_to 'Download', reporting_period_path(reporting_period, format: 'csv') %> |
          <%= link_to 'New report', new_reporting_period_report_path(reporting_period) %> |
          <%= link_to 'Bulk import', new_reporting_period_bulk_import_path(reporting_period) %> |
          <%= link_to 'Show', reporting_period %> |
          <%= link_to 'Edit', edit_reporting_period_path(reporting_period) %> |
          <%= link_to 'Destroy', reporting_period, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
