<p id="notice"><%= notice %></p>

<% content_for :title, "Reporting Periods" %>

<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Reports</th>
      <th>Total Contracts Reported</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_periods.each do |reporting_period| %>
      <tr>
        <td><%= reporting_period.date.try(:strftime, "%B") %></td>
        <td><%= reporting_period.date.try(:strftime, "%Y") %></td>
        <td><%= reporting_period.reports.count %></td>
        <td><%= reporting_period.total_contracts_reported %></td>
        <td>
          <%= link_to 'New report', new_reporting_period_report_path(reporting_period) %> |
          <%= link_to 'Bulk import', new_reporting_period_bulk_import_path(reporting_period) %> |
          <%= link_to 'Show', reporting_period %> |
          <%= link_to 'Edit', edit_reporting_period_path(reporting_period) %> |
          <%= link_to 'Destroy', reporting_period, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporting Period', new_reporting_period_path %>
