<% content_for :title, "#{@reporting_period.display_name} - Detailed Reports" %>
<%= render 'actions', reporting_period: @reporting_period %>

<%= form_with(url: reports_reporting_period_path(@reporting_period), method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_from_collection_for_select(@roles, :id, :name, selected: params[:role_id]), { prompt: true }, class: "form-control", onchange: 'this.form.submit();' %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Team</th>
                <th>Functional Area</th>
                <th>Contract</th>
                <th>Percentage</th>
                <th>Days</th>
                <th>Cost</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @reports.each do |report| %>
                <tr>
                  <td><%= link_to report.user_name, report.user %></td>
                  <td><%= report.team_name %></td>
                  <td><%= report.role_name %></td>
                  <td><%= link_to report.contract_full_name, report.contract %></td>
                  <td><%= report.percentage %>%</td>
                  <td><%= report.days %></td>
                  <td><%= number_to_currency(report.cost)  %></td>
                  <td>
                    <% if can? :edit, report.report %>
                      <%= link_to 'Edit', edit_report_path(report.report_id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
