<% content_for :title, "Reporting Period - #{@reporting_period.display_name}" %>
<%= render 'actions', reporting_period: @reporting_period %>

<p id="notice"><%= notice %></p>

<% if @reporting_period.report_parts.any? %>
  <dl>
    <dt>Total Reporters</dt><dd><%= @total_reporters %></dd>
    <dt>Total Projects</dt><dd><%= @total_project_reports %></dd>
    <dt>Average Projects per Reporter</dt>
    <dd><%=  number_with_precision(@total_project_reports.to_f / @total_reporters, precision: 2.0) %></dd>
  </dl>
<% end %>

<h2>Reports Summary</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
      <th>Role</th>
      <th>Percentage reported</th>
      <th># Contracts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr class="<%= "table-warning" if report.estimated? %>">
        <td><%= report.user&.name %></td>
        <td><%= report.team&.name %></td>
        <td><%= report.role&.name %></td>
        <td><%= report.report_parts.sum(:percentage) %></td>
        <td><%= report.report_parts.count %></td>
        <td>
          <% if can? :edit, report %>
            <%= link_to 'Edit', edit_report_path(report) %>
          <% end %>

          <% if report.estimated? and can? :manage, report %>
            <%= link_to 'Send Slack notification', slack_send_notification_path(report.reporting_period_id, report.user_id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
