<% content_for :title, "Reporting Period - #{@reporting_period.display_name}" %>
<%= render 'actions', reporting_period: @reporting_period %>

<% if @reporting_period.report_parts.any? %>
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-night-sky">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Reporters</div>
            <div class="widget-subheading">How many members of staff filled a report this period.</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span><%= @total_reporters %></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-slick-carbon">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Projects</div>
            <div class="widget-subheading">Number of projects reported in this period.</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span><%= @total_project_reports %></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-grow-early">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Avg Project per Person</div>
            <div class="widget-subheading">Average number of projects reported.</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white">
              <span>
                <%=  number_with_precision(@reporting_period.full_reports.count.to_f / @total_reporters, precision: 2.0) %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Contracts breakdown</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Contract</th>
                <th>Cost/Time Reported</th>
                <th>Monthly Income</th>
              </tr>
            </thead>
            <tbody>
              <% @contract_reports.each do |report| %>
                <tr>
                  <td><%= link_to report.contract_name, contract_path(report.contract_id) %></td>
                  <td><%= report.is_billable? ? number_to_currency(report.cost) : pluralize(report.days&.round(2), 'day') %></td>
                  <td>
                    <% if report.is_billable? %>
                      <% val = reporting_period_income(@reporting_period, report.contract) %>
                      <%= number_to_currency(val) if val %></td>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">Staff breakdown</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Percentage reported</th>
                <th># Contracts</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user_reports.each do |report| %>
                <tr class="<%= "table-warning" if report.estimated? %>">
                  <td><%= link_to report.user&.name, report.user %></td>
                  <td><%= report.report_parts.sum(:percentage) %></td>
                  <td><%= report.report_parts.count %></td>
                  <td>
                    <% if can? :edit, report %>
                      <%= link_to 'Edit', edit_report_path(report) %>
                    <% end %>
                    <% if can? :destroy, report %>
                      <%= link_to 'Destroy', report, method: :delete,
                        data: { confirm: 'Are you sure you want to remove this report?' } %>
                    <% end %>
                    <% if report.estimated? and can? :manage, report %>
                      <%= link_to 'Send Slack notification', slack_send_notification_path(report.reporting_period_id, report.user_id) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
