<% content_for :title, "Reporting Period - #{@reporting_period.display_name}" %>
<%= render 'actions', reporting_period: @reporting_period %>

<p id="notice"><%= notice %></p>

<% if @reporting_period.report_parts.any? %>
  <dl>
    <dt>Total Reporters</dt><dd><%= @total_reporters %></dd>
    <dt>Total Projects</dt><dd><%= @total_project_reports %></dd>
    <dt>Average Projects per Reporter</dt>
    <dd><%=  number_with_precision(@total_project_reports.to_f / @total_reporters, precision: 2.0) %></dd>
  </dl>
<% end %>

<%= form_with(url: @reporting_period, method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :role_id %>
    <%= form.select :role_id, options_from_collection_for_select(@roles, :id, :name, selected: params[:role_id]), { prompt: true }, class: "form-control", onchange: 'this.form.submit();' %>
  </div>
<% end %>

<h2>Reports</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
      <th>Role</th>
      <th>Contract</th>
      <th>Percentage</th>
      <th>Days</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.user_name %></td>
        <td><%= report.team_name %></td>
        <td><%= report.role_name %></td>
        <td><%= link_to report.contract_full_name, report.contract %></td>
        <td><%= report.percentage %>%</td>
        <td><%= report.days %></td>
        <td><%= number_to_currency(report.cost, unit: '€')  %></td>
        <td><%= link_to 'Edit', edit_report_path(report.report_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
